.toparea{
    background:#fff;
    padding:30px 0;
}
.menuarea{
    background:#fff;
    padding:0 0;
}
.slidearea{
    background:#fff;
    padding:20px 0;
}
.darea{
    background:#fff;
    padding:10px 0;
}